name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
          with:
            channel: 'beta'
      - run: git clean -xffd # https://github.com/dart-lang/sdk/issues/39792

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.2.1

      - name: Display versions
        run: |
          dart --version
          flutter --version

      - name: Run tests
        run: |
          pub get
          (cd test ; ./run.sh)
